<p>Food Truck Name</p>
<input ng-model="foodTruck.name" placeholder="What's the name of your truck?">
<br>
<br>
<p>Create User Name</p>
<input ng-model="foodTruck.username" placeholder="What would you like your username to be?">
<br>
<br>
<p>Twitter Handle</p>
<p>Your Twitter Handle is required</p>
<input ng-model="foodTruck.twitter_handle" placeholder="What is your Twitter Handle?">
<br>
<br>
<p>Twitter ID Number (Optional)</p>
<input ng-model="foodTruck.twitter_id" placeholder="Do you know your Twitter ID number? Place here ">
<br>
<br>
<p>Email Address</p>
<p>Your email is required, however it will not be visible to visitors</p>
<input ng-model="foodTruck.email" placeholder="What's your email?">
<br>
<br>
<p>Food Truck's Website</p>
<p>This web address will be visible to visitors</p>
<input ng-model="foodTruck.website" placeholder="Does your truck have a website? Place here ">
<br>
<br>
<p>Phone Number</p>
<p>This phone number is optional, WARNING!!!!! IF YOU INCLUDE A PHONE NUMBER IT WILL BE VISIBLE TO VISITORS</p>
<input ng-model="foodTruck.phone_number" placeholder="What's the phone number for this food truck? (OPTIONAL)">
<br>
<br>
<input ng-model="foodTruck.owner" placeholder="What's the owner's name?">
<br>
<br>
<button ng-click="addFoodTruck()">Create That Truck!!!!</button>





